<!-- <div class="all-clothe">
    <div class="wrap-card" *ngFor="let cloth of displayclothes"  >
        <p class="mat-card-title"> {{cloth.ProductName}}</p>
         *ngIf="addremark"  -->
        <!-- <button class="icon-remark"  (click)="update(cloth.ProductId)" >
            
            <mat-icon class="edit" aria-hidden="false" aria-label="Example home icon">update</mat-icon>       

        </button>
        <mat-card-content class="mat-card-content" >

        <mat-card class="example-card" > -->
<!--            
                <p>
                 מחיר   :{{cloth.Price}}
              </p>
              <p>
                קטגוריה :{{cloth.Category}}
            </p>
            <p>
                במלאי :{{cloth.UnitsInStock}}
            </p>
        </mat-card>
    </mat-card-content>

    </div>
</div> --> -->