.register {
    text-align: center;
}
.register mat-form-field {
    border-radius: 4px 4px 4px 4px;
    background-color: #000;
    border: solid 1px;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.example-right-align {
    text-align: right;
}
input.example-right-align {
    -moz-appearance: textfield;
}
input.example-right-align::-webkit-outer-spin-button {
    display: none;
}
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.login {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.space-left {
    margin-left: 20px;
}
.submit {
    background-color: #6fffc2;
    border: none;
    color: purple;
    border-radius: 20px;
    width: 10vw;
    height: 25px;
    margin-top: 10px;
}
.submit:hover {
    background-color: #55fdb7;
}
.clear {
    margin-left: 20px;
    border: 3px solid #6fffc2;
    color: purple;
    border-radius: 20px;
    width: 10vw;
    height: 25px;
    margin-top: 10px;
    background-color: white;
}
.clear:hover {
    background-color: #6fffc2;
}
.full-width {
    width: 74%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
}
/* Font color */
input.mat-input-element {
    color: purple 666666666669;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: purple;
}
.mat-form-field-appearance-fill{
    text-align: center !important;
}
